mixin header()
    header.header
        .header__inner
            .header__content
                .header__content-close.fa.fa-times
                .header__menu
                    a(href='#personal') Личная информация
                    a(href='#exp') Опыт
                    a(href='#js') JavaScript
                    a(href='#about') О себе
            .header__trigger.fa.fa-bars