.heading{
    position: relative;
    width:100%;
    margin-bottom:25px;
    padding-left:10px;
    padding-right:10px;
    &__icon{
        display:flex;
        align-items:center;
        justify-content:center;
        margin:0 auto;
        width:47px;
        height:47px;
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
    }
    &__text{
        max-width:510px;
        position: relative;
        width:100%;
        line-height:1.5;
        margin:0 auto;
        padding-bottom:30px;
    }
}