mixin blockjs()
    .section#js
        +heading('Уровень владения JavaScript', 'icon3.png')
        .section__inner
            .form
                .form__range
                    .range-slider
                        input(type='text' class='js-range-slider' value='')